
.myMoviePic {
    height: 450px;
    width: 450px;
    border: 10px solid purple;
    border-radius: 50%;
}
.myButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.main-Image {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.solid {
    background-color: #000029;
    color: white;
}
.liquid {
    background-color: blue;
    color: white;
}
.gas {
    background-color: #d3d3d3;
}

.WaterApp {
    height: 300px;
    width: 50%;
    border: 10px solid green;
    margin: auto;
    margin-top: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}